.form
  = simple_form_for [:app, @transaction] do |f|
    = f.association :account, :prompt => false
    = f.input :date, :as => :string
    = f.association :category, :prompt => false
    = f.input :amount, :as => :string, :input_html => { :max_length => 15 }
    = f.input :description, :as => :string, :input_html => { :max_length => 255 }
    = f.input :kind do
      = f.collection_radio :kind, TYPES.entries, :first, :last, 
                           :checked => TYPES.entries.first, :collection_wrapper_tag => :div, :item_wrapper_tag => :span 
    = f.button :submit
