= content_for :css do
  = stylesheet_link_tag "simple_form", "transaction"

.new-section.prepend-top.append-bottom
  .wrapper
    %h2.bottom= I18n.t("transaction.new")
    %hr/
    = render "form", :transaction => @transaction

%h2.bottom= I18n.t("transaction.list")
%table.common.transactions
  %colgroup
    %col.checkbox
    %col.date
    %col.account
    %col.category
    %col.kind
    %col.amount
    %col.description
    %col.action
  %tr
    %th
      %input(type="checkbox" class="parent")
    %th= human_field_name(:date, Transaction)
    %th= human_field_name(:account, Transaction)
    %th= human_field_name(:category, Transaction)
    %th= human_field_name(:kind, Transaction)
    %th= human_field_name(:amount, Transaction)
    %th= human_field_name(:description, Transaction)
    %th
  - @transactions.each do |t|
    %tr
      %td.center= check_box_tag "id[]", t.id, false, :class => "child"
      %td.center= t.date
      %td= t.account.name
      %td= t.category.name
      %td= t.kind_name
      %td.number= to_currency(t.amount)
      %td= t.description
      %td.center= link_to I18n.t("action.edit"), edit_app_transaction_path(t)
= paginate @transactions

