= content_for :css do
  = stylesheet_link_tag "simple_form", "account", "transaction", 'fancybox', "summary"

= content_for :js do
  -#<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.4/jquery.min.js"></script>
  = javascript_include_tag "jquery.fancybox", "checkbox_handler", "transaction", "transaction.edit"

#content.append-bottom.clearfix
  .left.span-6
    .box-section.append-bottom
      .wrapper
        %h3.header.bottom.center= I18n.t("label.accounts")
        .accounts
          - @accounts.each_with_index do |a, index|
            - final_css_class = (index == @accounts.length - 1) ? :final : nil
            - selected_css_class = (a.id.to_i == params[:account_id].to_i) ? :selected : nil
            = link_to a.link, :class => [ :link, :clearfix, final_css_class, selected_css_class] do
              .left= a.name
              .right.size= a.transactions_size

    .summary.clearfix.center
      -#.left
        = link_to "&lt;".html_safe
      %span= I18n.t('account.yearly_summary', :year => DateTime.now.year)
      -#.right
        = link_to "&gt;".html_safe

    .new-box-section
      .box-title.total-header.center= I18n.t("account.total")
      .account-summary
        .income.clearfix
          .left= I18n.t('account.income')
          .right= to_currency @total[INCOME]
        .expense.clearfix
          .left= I18n.t('account.expense')
          .right= to_currency @total[EXPENSE]
        .balance.clearfix
          .left= I18n.t('account.balance')
          -#.right= to_currency(@total[INCOME] - @total[EXPENSE])
          .right= to_currency @total[:balance]

    - @summaries.each do |month, kind_amount|
      .new-box-section
        .box-title.month-header.center= month.mon
        .account-summary
          .income.clearfix
            .left= I18n.t('account.income')
            .right= to_currency kind_amount[INCOME]
          .expense.clearfix
            .left= I18n.t('account.expense')
            .right= to_currency kind_amount[EXPENSE]
          .balance.clearfix
            .left= I18n.t('account.balance')
            -#.right= to_currency(kind_amount[INCOME] - kind_amount[EXPENSE])
            .right= to_currency kind_amount[:balance]

  .right.span-18.last
    .new-section.append-bottom
      .wrapper
        %h3.header.bottom= I18n.t("transaction.new")
        %hr/
        = render "form", :transaction => @transaction

    .title.clearfix
      .left
        %h3.header.bottom= I18n.t("transaction.list")
      .right
    = render 'transactions', :transactions => @transactions, :account_id => params[:account_id].to_i
