- content_for :css do
  = stylesheet_link_tag "common"
- content_for :js do
  = javascript_include_tag "finances"


.left-column.width-240
  .wrapper.margin-bottom-20
    .box
      .title
        %h4 Account Summary
      .content
        %table.account-summary
          %tr
            %td Total
            %td
              %div
                Earning:
                = to_currency(Account.first.earnings)
              %div
                Spending:
                = to_currency(Account.first.expenses)
              %div
                Balance:
                = to_currency(Account.first.balance)
          %tr
            %td Today
            %td
              %div
                Earning:
                = to_currency(Transaction.today.incoming)
              %div
                Spending:
                = to_currency(Transaction.today.outgoing)
              %div
                Balance:
                = to_currency(Transaction.today.balance)
          %tr
            %td This month
            %td
              %div
                Earning:
                = to_currency(Transaction.this_month.incoming)
              %div
                Spending:
                = to_currency(Transaction.this_month.outgoing)
              %div
                Balance:
                = to_currency(Transaction.this_month.balance)
          %tr
          %tr
            %td This year
            %td
              %div
                Earning:
                = to_currency(Transaction.this_year.incoming)
              %div
                Spending:
                = to_currency(Transaction.this_year.outgoing)
              %div
                Balance:
                = to_currency(Transaction.this_year.balance)
          %tr
.right-column.margin-left-20.width-700
  .wrapper.margin-bottom-20
    .box
      .title
        %h4 Add new transaction
      .content
        = simple_form_for [:app, @transaction] do |f|
          = f.association :account, :prompt => false
          = f.input :date, :as => :string
          = f.input :category_id, :collection => Category.all, :prompt => false
          = f.input :amount, :as => :string, :input_html => { :maxlength => 15 }
          = f.input :description, :as => :string, :input_html => { :maxlength => 255 }
          = f.input :kind do
            = f.collection_radio :kind, [[INCOMING, I18n.t("label.incoming")], [OUTGOING, I18n.t("label.outgoing")]], :first, :last
          = f.button :submit
  .wrapper
    .box
      .title
        %h4= I18n.t("label.transactions")
      .content
        %table.common.transactions
          %colgroup
            %col.checkbox
            %col.width-100
            %col.width-80
            %col.width-120
            %col.width-120
            %col.auto-width
            %col.width-60
            %col.width-20
          %tr
            %th
              %input(type="checkbox" class="parent")
            %th= human_field_name(:account)
            %th= human_field_name(:date)
            %th= human_field_name(:category)
            %th= human_field_name(:amount)
            %th= human_field_name(:description)
            %th= human_field_name(:kind)
            %th
          - @transactions.each do |t|
            %tr
              %td.center= check_box_tag "id[]", t.id, false, :class => "child"
              %td= t.account.name
              %td.center= t.date
              %td= t.category.name
              %td.right= to_currency(t.amount)
              %td= t.description
              %td= t.kind_name
              %td.center= link_to I18n.t("action.edit"), edit_app_transaction_path(t)
        = paginate @transactions

