.left-column.width-240
  .wrapper.margin-bottom-20
    .box
      .title
        %h4 Account Summary
      .content
        %table.account-summary
          %tr
            %td Today
            %td
              %div Earning: 20000
              %div Spending: 14000
          %tr
            %td This month
            %td
              %div Earning: 12000
              %div Spending: 8000
          %tr
            %td This year
            %td
              %div Earning: 2400
              %div Spending: 10000
  //.wrapper.margin-bottom-20
  //  .box
  //    .title
  //      %h4 Reminders
  //    .content
  //      %ul
  //        - 12.times do |i|
  //          %li= "Reminder #{i+1}"
.right-column.margin-left-20.width-700
  .wrapper.margin-bottom-20
    .box
      .title
        %h4 Alert
      .content
        %ul
          - 10.times do |i|
            %li= "Alert #{i+1}"
  .wrapper
    .box
      .title
        %h4 Recent Activities
      .content
        %ul
          - 20.times do |i|
            %li= "Activity #{i+1}"

