.left-column.width-240
  .wrapper.margin-bottom-20
    = render "/shared/account_summary"
  //.wrapper.margin-bottom-20
  //  .box
  //    .title
  //      %h4 Reminders
  //    .content
  //      %ul
  //        - 12.times do |i|
  //          %li= "Reminder #{i+1}"
.right-column.margin-left-20.width-700
  .wrapper.margin-bottom-20
    .box
      .title
        %h4 Alert
      .content
        %ul
          - 10.times do |i|
            %li= "Alert #{i+1}"
  .wrapper
    .box
      .title
        %h4 Recent Activities
      .content
        %ul
          - 20.times do |i|
            %li= "Activity #{i+1}"

