= content_for :css do
  = stylesheet_link_tag "simple_form", "account"
= content_for :js do
  = javascript_include_tag "checkbox_handler", "account"
.new-section.prepend-top.append-bottom
  .wrapper
    %h3.header.bottom= I18n.t("account.new")
    %hr
    = render "form", :account => @account

%h3.header.bottom= I18n.t("account.list")
= form_tag delete_app_accounts_path do
  #toolbar.clearfix
    .left
      %input#delete-button.action{ :type => "submit", :value => I18n.t("action.delete"), :disabled => @accounts.empty?, :class => !@accounts.empty? }/
    .right= show_pagination(@accounts)
  %table.common.accounts
    %colgroup
      %col.checkbox
      %col.name/
      %col.type/
      %col.income/
      %col.expense/
      %col.balance/
      %col.description/
    %tr
      %th
        %input{ :type => "checkbox", :class => 'parent', :disabled => @accounts.empty? }
      %th= human_field_name(:name, Account)
      %th= human_field_name(:account_type, Account)
      %th= human_field_name(:income, Account)
      %th= human_field_name(:expense, Account)
      %th= human_field_name(:balance, Account)
      %th= human_field_name(:description, Account)
    - @accounts.each do |a|
      %tr
        %td= check_box_tag 'id[]', a.id, false, :class => :child
        %td= a.name
        %td= a.type_name
        %td.number= to_currency(a.income)
        %td.number= to_currency(a.expense)
        %td.number= to_currency(a.balance)
        %td= a.description

