!!!
%html
  %head
    = favicon_link_tag
    %meta(content-equiv="CONTENT-TYPE" content="text/html; charset=UTF-8")/
    %meta(http-equiv='CACHE-CONTROL' content="must-revalidate")/
    %meta{ :"http-equiv" => 'EXPIRES', :content=> (Time.now+10.days).httpdate }/

    %title Housekeeping
    = stylesheet_link_tag :blueprint, :media => "screen, projection"
    /[if lt IE 8]
      = stylesheet_link_tag :blueprint_ie, :media => "screen, projection"
    = stylesheet_link_tag "app_layout", "common", "pagination"
    = stylesheet_link_tag :jquery
    = yield :css
    = csrf_meta_tag
  %body
    #header
      .container
        .left
          = link_to "HOUSEKEEPING", app_root_path, :class => :logo
        .right
          #submenu
            = link_to "Nguyễn Hoài Phong", "", :class => :link
            = link_to I18n.t("action.logout"), "", :class => :link
            = link_to I18n.t("action.help"), "", :class => :link
    #menu.append-bottom
      .container
        - MENU_ITEMS.each do |m|
          .left
            - if APP_MENU[m] == params[:controller]
              %span.link.selected= I18n.t("app.menu.#{m}")
            - else
              = link_to I18n.t("app.menu.#{m}"), "/#{APP_MENU[m]}", :class => :link
    -##page
      -#.container.prepend-top.append-bottom
        -#.main-wrap
          -##main= yield
    #main
      .container
        = yield
    #footer
      .container
        = render :partial => "/shared/footer"
    = javascript_include_tag :jquery
    = javascript_include_tag "jquery-ui.datepicker.#{I18n.locale}"
    = yield :js

